label{
  padding: 0.5rem 0px;
}
.select-edit{
  height: 100%;
}
.intl-tel-input{
  width: 100%;
  height: 100%;
}
.searchbtn{
  width: 100% !important;
  // margin-top: 10px;
}
.pointer{
  cursor: pointer !important;
}
.height{
  height: 100%;
  box-shadow: 0px 0px 15px -1px #d0d0d0 !important;
  input{
    padding: 10px !important;
  }
  .flag-icon{
    margin: 0px 10px !important;
  }
}